<form [formGroup]="apartForm" (ngSubmit)="addApartment()" class="container mt-4">
    <div class="form-group">
      <label>Residence:</label>
      <input formControlName="residence" class="form-control">
      <div *ngIf="apartForm.get('residence')?.invalid && apartForm.get('residence')?.touched" class="text-danger">
        <span>Ce champ est obligatoire</span>
      </div>
    </div>
  
    <div class="form-group">
      <label>Apartment Number:</label>
      <input formControlName="apartmentNumber" class="form-control">
      <div *ngIf="apartForm.get('apartmentNumber')?.invalid && apartForm.get('apartmentNumber')?.touched" class="text-danger">
        <span *ngIf="apartForm.get('apartmentNumber')?.hasError('required')">Champ obligatoire</span>
        <span *ngIf="apartForm.get('apartmentNumber')?.hasError('pattern')">Seulement des chiffres</span>
      </div>
    </div>
  
    <div class="form-group">
      <label>Floor Number:</label>
      <input formControlName="floorNumber" class="form-control">
      <div *ngIf="apartForm.get('floorNumber')?.invalid && apartForm.get('floorNumber')?.touched" class="text-danger">
        <span *ngIf="apartForm.get('floorNumber')?.hasError('required')">Champ obligatoire</span>
        <span *ngIf="apartForm.get('floorNumber')?.hasError('pattern')">Seulement des chiffres</span>
      </div>
    </div>
  
    <div class="form-group form-check">
      <input type="checkbox" formControlName="terrace" class="form-check-input">
      <label class="form-check-label">Terrace</label>
    </div>
  
    <div class="form-group">
      <label>Surface Terrace:</label>
      <input formControlName="surfaceTerrace" class="form-control">
    </div>
  
    <button type="submit" class="btn btn-primary mt-3 my-2" [disabled]="apartForm.invalid">Add</button>
  </form>
  